@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://etherscan.io/address/0x4e8056dfe7124a74acb23244e3e24110e2af0a98" target="_blank" class="ml-md-auto">Contract</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
